
[user]
	name = minuta
    email = "gammamustang@gmail.com"

[alias]
    # Checkouts
    co = checkout
    cob = checkout -b

    # Commits
    cm = commit -m
    ca = !git add -A && git commit -m

    st = status
    br = branch
    sw = switch
    dt = difftool

    lg = log -20 --graph --abbrev-commit --decorate --format=format:'%C(dim white)%h%C(reset) - %C(green)(%ar)%C(reset) %C(white)%s%C(reset)  %C(blue) %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    
    # show all files from commit hash (e.g. fi <HASH>)
    ci = show --stat 

    unstage = reset --  
   
    # show changes in fetched commits for a given file:
    sff = diff --name-status HEAD..origin


[core]
	autocrlf = input
	safecrlf = false

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse

[color "status"]
    added = green bold
    changed = yellow bold
    untracked = red bold


;[push]
;	default = simple

[init]
	defaultBranch = main

[core]
    editor = code --wait

[diff]
    tool = vscode

[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE

[merge]
    tool = vscode

[mergetool "vscode"]
    cmd = code --wait $MERGED