/* My custom CSS styling for the default Obsidian dark theme 
   
   Customization:
   - Header colors
   - Title color
   - Strike-through color
   - Underline color
   - Bold color
   - Highlight color
   - remove strikethrough for checkboxes
*/

/* Headers */
.cm-header-1,
.cm-header-2,
.cm-header-3,
.cm-header-4,
.cm-header-5 {
  color: #77a7ce;
}

/* Note title */
.inline-title {
  color: #8b8df1;
}

/* strike-through text with ~~foo~~  */
.cm-strikethrough {
  color: #494746;
}

/* italic/emphize text with _foo_ or *foo* */
.cm-em {
  /* color: #dae295; */
  color: #f8a1a1;
  font-style: normal;
  font-weight: bold;
}

/* bold text with **foo** or __foo__ */
.cm-strong {
  color: #baca8c;
  font-weight: bold;
}

/* highlight text with ==foo== */
.cm-s-obsidian span.cm-formatting-highlight,
.cm-s-obsidian span.cm-highlight {
  background-color: #a09c6c;
  color: #000000;
}

/* <<------------- Hide Strikethrough in READING VIEW ----------------->> */
.markdown-preview-view ul > li.task-list-item {
  text-decoration: none;
}

/* <<------------- Hide Strikethrough in LIVE PREVIEW ----------------->> */
.markdown-source-view.mod-cm6 .HyperMD-task-line[data-task="x"] {
  text-decoration: none;
}




/* --------------- Table Definitions ---------------------*/
table {
    background-color: #303030; 
    /* border: 4px solid #000000;  */
    /* box-shadow: 8px 8px 10px rgba(129, 125, 125, 0.18); */

    /* make round corners */
    border-collapse: separate; /* Needed for border-radius to apply */
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden; /* Ensures corners are clipped if there's a background */
    width: 100%; /* Optional: sets table width */
}

thead {
    background-color: #433857;
    color: white;
    outline: 1px solid rgb(63, 63, 63);   /* Thicker illusion */
}

td {
  outline: 1px solid rgb(63, 63, 63);   /* Thicker illusion */
}  


/* ----- add visible border line and round corners to the code block ------  */

/* reading mode */
.markdown-rendered pre {
  border: solid #494746;
  border-radius: var(--radius-m);
  box-shadow: var(--shadow-lm-only);
}

/* live preview */
.cm-s-obsidian div.HyperMD-codeblock-begin-bg {
  background: var(--code-background);
  border-top: solid #494746;
  /* stylelint-disable-next-line declaration-no-important */
  border-top-right-radius: 8px !important;
  /* stylelint-disable-next-line declaration-no-important */
  border-top-left-radius: 8px !important;
  margin-top: 8px;
}

.cm-s-obsidian div.HyperMD-codeblock-end-bg {
  background: var(--code-background);
  border-bottom: solid #494746;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.cm-s-obsidian div.HyperMD-codeblock-bg {
  border-right: solid #494746;
  border-left: solid #494746;
}