/* My custom CSS styling for the default Obsidian dark theme 
   
   Customization:
   - Header colors
   - Title color
   - Strike-through color
   - Underline color
   - Bold color
   - Highlight color
   - remove strikethrough for checkboxes
*/

/* Headers */
.cm-header-1,
.cm-header-2,
.cm-header-3,
.cm-header-4,
.cm-header-5 {
  color: #77a7ce;
}

/* Note title */
.inline-title {
  color: #8b8df1;
}

/* strike-through text with ~~foo~~  */
.cm-strikethrough {
  color: #494746;
}

/* italic/emphize text with _foo_ or *foo* */
.cm-em {
  /* color: #dae295; */
  color: #f8a1a1;
  font-style: normal;
  font-weight: bold;
}

/* bold text with **foo** or __foo__ */
.cm-strong {
  color: #baca8c;
  font-weight: bold;
}

/* highlight text with ==foo== */
.cm-s-obsidian span.cm-formatting-highlight,
.cm-s-obsidian span.cm-highlight {
  background-color: #a09c6c;
  color: #000000;
}

/* <<------------- Hide Strikethrough in READING VIEW ----------------->> */
.markdown-preview-view ul > li.task-list-item {
  text-decoration: none;
}

/* <<------------- Hide Strikethrough in LIVE PREVIEW ----------------->> */
.markdown-source-view.mod-cm6 .HyperMD-task-line[data-task="x"] {
  text-decoration: none;
}



table {
    background-color: #303030; 
    /* border: 4px solid #000000;  */
    box-shadow: 8px 8px 16px rgba(0,0,0,0.18);

}

thead {
    background-color: #433857;
    color: white;
}

td {
  border: 1px solid rgb(60, 60, 60); /* Base border */
  outline: 1px solid rgb(60, 60, 60); /* Thicker illusion */
}

/* td {
    font-size: 16px;  
    background-color: #303030; 
    color: black;
} */


